.back-button { 
    position: fixed;
    top: 20px; /* Position en haut de la page */
    right: 20px;
    z-index: 1000;
  }
  
  .scroll-top-button {
    background-color: #224a72;
    color: #ffffff; /* Couleur de la flèche plus claire */
    border: none;
    border-radius: 50%;
    width: 40px; /* Taille légèrement augmentée pour plus de clarté */
    height: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow-icon {
    width: 24px;
    height: 24px;
    color: #ffffff; /* Couleur de l'icône */
  }
  
  .scroll-top-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: #1e90ff; /* Couleur légèrement plus vive au survol */
  }
  