@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins", sans-serif;
 }
.login2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #343439dd;
}

.login2-logo-container {
  position: relative;
  top: -20px;
  left: 10%;
  transform: translateX(-50%);
}

.login2-page-logo {
  width: 200px;
  margin-top: -30px;
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 100px;
  filter: brightness(0.5); 
}



.login2-box {
  background: #fff;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.378);
  text-align: center;
  max-width: 30%;
  height: 98%;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  z-index: 1;
}

.login2-box h2 {
  margin-bottom: 50px;
}

.login2-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background: #E8F0FE;
  
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
}

.login2-input-group input {
  border: none;
  background: #E8F0FE;
  outline: none;
  flex: 1;
  padding: 5px;
}

.login2-input-group svg {
  margin-right: 10px;
}

.login2-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.login2-options label {
  display: flex;
  align-items: center;
}

.login2-options input {
  margin-right: 5px;
}


.login2-button {
  width: 100%;
  padding: 5px;
  background: #4a525c;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.login2-button:hover {
  background: #080809;
}

.login2-image {
  width: 100vw;
  /* Prend toute la largeur de l'écran */
  height: 100vh;
  flex: 1;
  /* Ajustez cette valeur selon vos besoins */
  display: flex;
  justify-content: center;
  align-items: center;
}


.login2-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login2-carousel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login2-carousel-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.login2-carousel-item img {

  width: 100%;
  height: 100%;
  max-height:100vh;
  max-width: 800px;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: 0 0 40px rgba(244, 244, 244, 0.605);
  transition: transform 0.05s ease-in-out;
}